client/src/main/resources/WinRmService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" name="WinRmService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" xmlns:tns="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd">

      <xs:import namespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd"/>

      <xs:element name="Code" type="xs:string"/>

      <xs:element name="CommandId" type="xs:string"/>

      <xs:element name="CommandLine" type="tns:CommandLine"/>

      <xs:element name="Receive" nillable="true" type="tns:Receive"/>

      <xs:element name="ReceiveResponse" nillable="true" type="tns:ReceiveResponse"/>

      <xs:element name="Shell" nillable="true" type="tns:Shell"/>

      <xs:element name="Signal" nillable="true" type="ns1:Signal"/>

      <xs:complexType name="Shell">
        <xs:sequence>
          <xs:element name="ShellId" type="xs:anyURI" minOccurs="0"/>
          <xs:element name="Environment" type="tns:EnvironmentVariableList" minOccurs="0"/>
          <xs:element name="WorkingDirectory" type="xs:string" minOccurs="0"/>
          <xs:element name="Lifetime" type="xs:duration" minOccurs="0"/>
          <xs:element name="IdleTimeout" type="xs:duration" minOccurs="0"/>
          <xs:element name="InputStreams" minOccurs="0">
            <xs:simpleType>
              <xs:list itemType="xs:string"/>
            </xs:simpleType>
          </xs:element>
          <xs:element name="OutputStreams" minOccurs="0">
            <xs:simpleType>
              <xs:list itemType="xs:string"/>
            </xs:simpleType>
          </xs:element>
          <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EnvironmentVariableList">
        <xs:sequence>
          <xs:element name="Variable" type="tns:EnvironmentVariable" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EnvironmentVariable">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="Name" type="xs:string" use="required"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="CommandLine">
        <xs:sequence>
          <xs:element name="Command" type="xs:string" minOccurs="0"/>
          <xs:element name="Arguments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Receive">
        <xs:sequence>
          <xs:element name="DesiredStream" type="tns:DesiredStreamType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DesiredStreamType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute ref="tns:CommandId"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="ReceiveResponse">
        <xs:sequence>
          <xs:element name="Stream" type="tns:StreamType" maxOccurs="unbounded"/>
          <xs:element name="CommandState" type="tns:CommandStateType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="tns:SequenceID"/>
      </xs:complexType>

      <xs:complexType name="StreamType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
            <xs:attribute name="Name" type="xs:string" use="required"/>
            <xs:attribute name="CommandId" type="xs:string"/>
            <xs:attribute name="End" type="xs:boolean"/>
            <xs:attribute name="Unit" type="xs:anyURI"/>
            <xs:attribute name="EndUnit" type="xs:boolean"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="CommandStateType">
        <xs:sequence>
          <xs:element name="ExitCode" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="CommandId" type="xs:string" use="required"/>
        <xs:attribute name="State" type="xs:string"/>
      </xs:complexType>

      <xs:attribute name="CommandId" type="xs:string"/>

      <xs:attribute name="SequenceID" type="xs:unsignedLong"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://schemas.microsoft.com/wbem/wsman/1/windows/shell">

      <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

      <xs:import namespace="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>

      <xs:element name="CommandResponse" type="tns:CommandResponse"/>

      <xs:element name="Delete" type="tns:Delete"/>

      <xs:element name="DeleteResponse" type="tns:DeleteResponse"/>

      <xs:element name="Locale" nillable="true" type="tns:Locale"/>

      <xs:element name="MaxEnvelopeSize" type="xs:int"/>

      <xs:element name="OperationTimeout" nillable="true" type="xs:string"/>

      <xs:element name="OptionSet" nillable="true" type="tns:OptionSetType"/>

      <xs:element name="ResourceURI" nillable="true" type="xs:string"/>

      <xs:element name="SelectorSet" nillable="true" type="tns:SelectorSetType"/>

      <xs:element name="SignalResponse" nillable="true" type="tns:SignalResponse"/>

      <xs:complexType name="Locale">
        <xs:sequence/>
        <xs:attribute ref="xml:lang"/>
      </xs:complexType>

      <xs:complexType name="OptionSetType">
        <xs:sequence>
          <xs:element name="Option" type="tns:OptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip"/>
      </xs:complexType>

      <xs:complexType name="OptionType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="Name" type="xs:token" use="required"/>
            <xs:attribute name="MustComply" type="xs:boolean"/>
            <xs:attribute name="Type" type="xs:QName"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="SelectorSetType">
        <xs:sequence>
          <xs:element name="Selector" type="tns:SelectorType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip"/>
      </xs:complexType>

      <xs:complexType name="SelectorType" mixed="true">
        <xs:sequence>
          <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:token" use="required"/>
        <xs:anyAttribute namespace="##other" processContents="skip"/>
      </xs:complexType>

      <xs:complexType name="CommandResponse">
        <xs:sequence>
          <xs:element ref="ns2:CommandId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Signal">
        <xs:sequence>
          <xs:element ref="ns2:Code"/>
        </xs:sequence>
        <xs:attribute name="CommandId" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="SignalResponse">
        <xs:sequence>
          <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Delete">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="DeleteResponse">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
    <xs:schema version="1.0" targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/transfer" xmlns:tns="http://schemas.xmlsoap.org/ws/2004/09/transfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="ResourceCreated" nillable="true" type="tns:ResourceCreated"/>

      <xs:complexType name="ResourceCreated">
        <xs:sequence>
          <xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema version="1.0" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:attribute name="lang" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="Signal">
    <part name="Signal" element="ns3:Signal" xmlns:ns3="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
    <part name="ResourceURI" element="tns:ResourceURI"/>
    <part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
    <part name="OperationTimeout" element="tns:OperationTimeout"/>
    <part name="Locale" element="tns:Locale"/>
    <part name="SelectorSet" element="tns:SelectorSet"/>
  </message>
  <message name="SignalResponse">
    <part name="SignalResponse" element="tns:SignalResponse"/>
  </message>
  <message name="Receive">
    <part name="Receive" element="ns4:Receive" xmlns:ns4="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
    <part name="ResourceURI" element="tns:ResourceURI"/>
    <part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
    <part name="OperationTimeout" element="tns:OperationTimeout"/>
    <part name="Locale" element="tns:Locale"/>
    <part name="SelectorSet" element="tns:SelectorSet"/>
  </message>
  <message name="ReceiveResponse">
    <part name="ReceiveResponse" element="ns5:ReceiveResponse" xmlns:ns5="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete"/>
    <part name="ResourceURI" element="tns:ResourceURI"/>
    <part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
    <part name="OperationTimeout" element="tns:OperationTimeout"/>
    <part name="Locale" element="tns:Locale"/>
    <part name="SelectorSet" element="tns:SelectorSet"/>
  </message>
  <message name="DeleteResponse">
    <part name="result" element="tns:DeleteResponse"/>
  </message>
  <message name="Create">
    <part name="Shell" element="ns6:Shell" xmlns:ns6="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
    <part name="ResourceURI" element="tns:ResourceURI"/>
    <part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
    <part name="OperationTimeout" element="tns:OperationTimeout"/>
    <part name="Locale" element="tns:Locale"/>
    <part name="OptionSet" element="tns:OptionSet"/>
  </message>
  <message name="CreateResponse">
    <part name="ResourceCreated" element="ns7:ResourceCreated" xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/09/transfer"/>
  </message>
  <message name="Command">
    <part name="body" element="ns8:CommandLine" xmlns:ns8="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
    <part name="ResourceURI" element="tns:ResourceURI"/>
    <part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
    <part name="OperationTimeout" element="tns:OperationTimeout"/>
    <part name="Locale" element="tns:Locale"/>
    <part name="SelectorSet" element="tns:SelectorSet"/>
    <part name="OptionSet" element="tns:OptionSet"/>
  </message>
  <message name="CommandResponse">
    <part name="result" element="tns:CommandResponse"/>
  </message>
  <portType name="WinRm">
    <operation name="Signal" parameterOrder="Signal ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
      <input wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal" message="tns:Signal"/>
      <output wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/SignalResponse" message="tns:SignalResponse"/>
    </operation>
    <operation name="Receive" parameterOrder="Receive ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
      <input wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive" message="tns:Receive"/>
      <output wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/ReceiveResponse" message="tns:ReceiveResponse"/>
    </operation>
    <operation name="Delete" parameterOrder="parameters ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
      <input wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" message="tns:Delete"/>
      <output wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse" message="tns:DeleteResponse"/>
    </operation>
    <operation name="Create" parameterOrder="Shell ResourceURI MaxEnvelopeSize OperationTimeout Locale OptionSet">
      <input wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" message="tns:Create"/>
      <output wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse" message="tns:CreateResponse"/>
    </operation>
    <operation name="Command" parameterOrder="body ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet OptionSet">
      <input wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command" message="tns:Command"/>
      <output wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandResponse" message="tns:CommandResponse"/>
    </operation>
  </portType>
  <binding name="WinRmPortBinding" type="tns:WinRm">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Signal">
      <soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal"/>
      <input>
        <soap12:body use="literal" parts="Signal"/>
        <soap12:header message="tns:Signal" part="ResourceURI" use="literal"/>
        <soap12:header message="tns:Signal" part="MaxEnvelopeSize" use="literal"/>
        <soap12:header message="tns:Signal" part="OperationTimeout" use="literal"/>
        <soap12:header message="tns:Signal" part="Locale" use="literal"/>
        <soap12:header message="tns:Signal" part="SelectorSet" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Receive">
      <soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive"/>
      <input>
        <soap12:body use="literal" parts="Receive"/>
        <soap12:header message="tns:Receive" part="ResourceURI" use="literal"/>
        <soap12:header message="tns:Receive" part="MaxEnvelopeSize" use="literal"/>
        <soap12:header message="tns:Receive" part="OperationTimeout" use="literal"/>
        <soap12:header message="tns:Receive" part="Locale" use="literal"/>
        <soap12:header message="tns:Receive" part="SelectorSet" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Delete">
      <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete"/>
      <input>
        <soap12:body use="literal" parts="parameters"/>
        <soap12:header message="tns:Delete" part="ResourceURI" use="literal"/>
        <soap12:header message="tns:Delete" part="MaxEnvelopeSize" use="literal"/>
        <soap12:header message="tns:Delete" part="OperationTimeout" use="literal"/>
        <soap12:header message="tns:Delete" part="Locale" use="literal"/>
        <soap12:header message="tns:Delete" part="SelectorSet" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Create">
      <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create"/>
      <input>
        <soap12:body use="literal" parts="Shell"/>
        <soap12:header message="tns:Create" part="ResourceURI" use="literal"/>
        <soap12:header message="tns:Create" part="MaxEnvelopeSize" use="literal"/>
        <soap12:header message="tns:Create" part="OperationTimeout" use="literal"/>
        <soap12:header message="tns:Create" part="Locale" use="literal"/>
        <soap12:header message="tns:Create" part="OptionSet" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="Command">
      <soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command"/>
      <input>
        <soap12:body use="literal" parts="body"/>
        <soap12:header message="tns:Command" part="ResourceURI" use="literal"/>
        <soap12:header message="tns:Command" part="MaxEnvelopeSize" use="literal"/>
        <soap12:header message="tns:Command" part="OperationTimeout" use="literal"/>
        <soap12:header message="tns:Command" part="Locale" use="literal"/>
        <soap12:header message="tns:Command" part="SelectorSet" use="literal"/>
        <soap12:header message="tns:Command" part="OptionSet" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WinRmService">
    <port name="WinRmPort" binding="tns:WinRmPortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
